.isActive{
    color: hsl(354, 88%, 46%);
    font-weight: bold;
}
.link{
    font-size: 16px;
   margin-left: 40px;
   font-size: 25px;
   color:  hsl(270, 50%, 99%);
 
}
.nav{
    align-items: center;
    gap: 20px;
}
.header{
    height: 80px;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 1000;
    padding: 10px 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.415);
    background-color: rgba(30, 22, 22, 0.766);
}

.icon{
    margin-left: 8px;
    margin-top: 25px;
}
