.button{
    background-color: rgb(220, 226, 237);
    border: solid 1px rgb(50, 50, 50) ;
    width: 100px;
    padding: 8px;
}
.input{
    padding: 9px;
    margin: 8px;
    width: 300px;
}

.container{
    padding-top: 20px;  
    margin-right: auto;
    width: 100%;

}
.form {
   margin-left: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 20px;
}