:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a{
  color:#160f0f;
}
a:hover{
  color: red;
}
body{
  margin:100px 0 0 0;
  padding: 0;
  background-color:  rgba(48, 32, 32, 0.163);
width: 100%;
height: auto;
background-size: cover;
background-position: center;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
html, body{
 
}



@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
 
}
